<!DOCTYPE html>
<html>
<head>
    <title>Admin - User List</title>
</head>
<body>
<h1>회원 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>이메일</th>
        <th>이름</th>
        <th>가입일</th>
        <th>관리자 여부</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{id}}</td>
            <td>{{email}}</td>
            <td>{{username}}</td>
            <td>{{createdAt}}</td>
            <td>{{#isAdmin}}✔{{/isAdmin}}{{^isAdmin}}✘{{/isAdmin}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>
</body>
</html>