<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Start working smarter, ​​Work with Experts!, Call us now">
    <meta name="description" content="">
    <title>blog</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/blog.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <!-- <meta name="generator" content="Nicepage 7.8.23, nicepage.com"> -->
    <!--
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
        <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": ""
    }</script> -->
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="blog">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{{>layouts/header}}
<section class="u-clearfix u-grey-80 u-section-1" id="blog_headline">
    <div class="u-expanded-width u-grey-80 u-shape u-shape-rectangle u-shape-1"></div>
    <img src="images/emperror_img.jpg" class="u-align-left u-image u-image-1" data-image-width="882" data-image-height="1280">
    <div class="u-align-left u-container-align-left u-container-style u-group u-group-1">
        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
            <h1 class="u-align-left u-custom-font u-text u-text-1">곡 이름 </h1>
            <p class="u-align-left u-custom-font u-text u-text-2">간단한 곡의 설명</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-80 u-section-2" id="blog_services">
    <div class="u-expanded-width u-grey-80 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="data-layout-selected u-clearfix u-gutter-26 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-align-center u-container-style u-layout-cell u-radius-5 u-shape-round u-size-40 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-rectangle u-text-white u-icon-1"><img src="images/bread_icon-whiteline.png" alt=""></span>
                                <h4 class="u-align-center u-custom-font u-text u-text-1">빵의 종류 </h4>
                                <p class="u-align-center u-custom-font u-text u-text-2">설명</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-layout-cell u-radius-5 u-shape-round u-size-40 u-layout-cell-3">
                            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-2"><img src="images/oven_icon-whiteline.png" alt=""></span>
                                <h4 class="u-align-center u-custom-font u-text u-text-3"> 온도</h4>
                                <p class="u-align-center u-custom-font u-text u-text-4">설명</p>
                            </div>
                        </div>
                        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-4">
                            <div class="u-container-layout u-container-layout-4"></div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-5">
                            <div class="u-container-layout u-container-layout-5"></div>
                        </div>
                        <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-layout-cell u-radius-5 u-shape-round u-size-40 u-layout-cell-6">
                            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-6"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-3"><img src="images/note_icon-whiteline.png" alt=""></span>
                                <h4 class="u-align-center u-custom-font u-text u-text-5">곡 해석</h4>
                                <p class="u-align-center u-custom-font u-text u-text-6">설명</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-size-15 u-size-30-md">
                    <div class="u-layout-col">
                        <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-layout-cell u-radius-5 u-shape-round u-size-40 u-layout-cell-7">
                            <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-7"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-4"><img src="images/tea_icon-whiteline.png" alt=""></span>
                                <h4 class="u-align-center u-custom-font u-text u-text-7">디저트</h4>
                                <p class="u-align-center u-custom-font u-text u-text-8">설명</p>
                            </div>
                        </div>
                        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-8">
                            <div class="u-container-layout u-container-layout-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-grey-80 u-section-3" id="blog_prefer">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">이런 빵도 맛있어요 </h2>
        <p class="u-align-center u-custom-font u-large-text u-text u-text-variant u-text-2">곡에 대한 설명 + 다른 빵과 이어지는 설명</p>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-grey-80 u-list-item u-repeater-item u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <h3 class="u-align-left u-custom-font u-text u-text-3">곡의 이름 </h3>
                        <p class="u-align-left u-custom-font u-small-text u-text u-text-default u-text-variant u-text-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">해당 곡의 설명</p>
                    </div>
                </div>
                <div class="u-container-style u-grey-80 u-list-item u-repeater-item u-list-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <h3 class="u-align-left u-custom-font u-text u-text-5">곡의 이름 </h3>
                        <p class="u-align-left u-custom-font u-small-text u-text u-text-default u-text-variant u-text-6" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">해당 곡의 설명</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{>layouts/footer}}
<section class="u-backlink u-clearfix u-grey-80"></section>

</body></html>