<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Breads</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/breads.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Breads">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{{>layouts/header}}
<section class="u-clearfix u-container-align-center u-grey-80 u-section-1" id="posts">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-blog u-expanded-width u-layout-grid u-blog-1" data-items-per-page="4" data-site-sorting-prop="created" data-site-sorting-order="desc" data-blog-id="blog-1">
            <div class="u-list-control"></div>
            <div class="u-repeater u-repeater-1">
        {{#breads}}
                <div class="u-blog-control u-blog-post u-container-style u-image u-repeater-item u-shading u-image-1" data-image-width="882" data-image-height="1280"  style="background-image: url('{{img}}');">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <h3 class="u-blog-control u-custom-font u-text u-text-1">
                            <a class="u-post-header-link" href="/post/{{id}}" >{{title}}</a>
                        </h3>
                        <div class="u-blog-control u-custom-font u-post-content u-text u-text-2 fr-view">{{subTitle}}&nbsp;</div>
                    </div>
                </div>
        {{/breads}}
            </div>
            <div class="u-list-control"></div>
        </div>
    </div>
</section>
{{>layouts/footer}}
<section class="u-backlink u-clearfix u-grey-80"></section>

</body></html>