<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Breads</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/breads.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <!-- <meta name="generator" content="Nicepage 7.8.23, nicepage.com"> -->
    <!-- <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script> -->
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Breads">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{{>layouts/header}}
<section class="u-clearfix u-container-align-center u-grey-80 u-section-1" id="posts">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-expanded-width u-layout-grid u-blog-1" data-items-per-page="4" data-site-sorting-prop="created" data-site-sorting-order="desc" data-blog-id="blog-1">
            <div class="u-list-control"></div>
            <div class="u-repeater u-repeater-1"><!--blog_post--><!--blog_post_image-->
                <div class="u-blog-control u-blog-post u-container-style u-image u-repeater-item u-shading u-image-1" data-image-width="882" data-image-height="1280" data-href="blog/3.html" style="background-image: url(&quot;images/emperror_img.jpg&quot;);"><!--/blog_post_image-->
                    <div class="u-container-layout u-similar-container u-container-layout-1"><!--blog_post_header-->
                        <h3 class="u-blog-control u-custom-font u-text u-text-1">
                            <a class="u-post-header-link" href="blog/3.html">​“베토벤, 전쟁 속에서 써내려간 마지막 협주곡”</a>
                        </h3><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-custom-font u-post-content u-text u-text-2 fr-view">“이 곡은 화려하지만, 그 화려함 이면엔 투쟁의 흔적이 있습니다.”&nbsp;</div><!--/blog_post_content-->
                    </div>
                </div><div class="u-blog-control u-blog-post u-container-style u-image u-repeater-item u-shading u-video-cover u-image-2" data-image-width="2000" data-image-height="1333" data-href="blog/2.html" style="background-image: url(&quot;images/feeldown_img.jpg&quot;);"><!--/blog_post_image-->
                    <div class="u-container-layout u-similar-container u-container-layout-2"><!--blog_post_header-->
                        <h3 class="u-blog-control u-custom-font u-text u-text-3">
                            <a class="u-post-header-link" href="blog/2.html">​“절망 끝에서 피어난 낭만”</a>
                        </h3><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-custom-font u-post-content u-text u-text-4 fr-view">“모든 것을 잃었다고 느낀 순간, 그는 이 곡을 썼습니다.”&nbsp;</div><!--/blog_post_content-->
                    </div>
                </div><div class="u-blog-control u-blog-post u-container-style u-image u-repeater-item u-shading u-video-cover u-image-3" data-image-width="2000" data-image-height="1333" data-href="blog/1.html" style="background-image: url(&quot;images/ring_img.jpg&quot;);"><!--/blog_post_image-->
                    <div class="u-container-layout u-similar-container u-container-layout-3"><!--blog_post_header-->
                        <h3 class="u-blog-control u-custom-font u-text u-text-5">
                            <a class="u-post-header-link" href="blog/1.html">“사랑할 수 있는 한 사랑하라"</a>
                        </h3><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-custom-font u-post-content u-text u-text-6 fr-view">"사랑은 부드럽게 시작해, 가장 깊은 곳을 건드리고, 결국 사라진다. "</div><!--/blog_post_content-->
                    </div>
                </div><div class="u-blog-control u-blog-post u-container-style u-image u-repeater-item u-shading u-video-cover u-image-4" data-image-width="2000" data-image-height="1333" data-href="blog/6.html" style="background-image: url(&quot;images/moon_img.jpg&quot;);"><!--/blog_post_image-->
                    <div class="u-container-layout u-similar-container u-container-layout-4"><!--blog_post_header-->
                        <h3 class="u-blog-control u-custom-font u-text u-text-7">
                            <a class="u-post-header-link" href="blog/6.html">"소리 없이 빛나는 달빛"</a>
                        </h3><!--/blog_post_header--><!--blog_post_content-->
                        <div class="u-blog-control u-custom-font u-post-content u-text u-text-8 fr-view">"프랑스 인상주의의 밤, 조용히 구워낸 한 조각의 은은한 클래식."</div><!--/blog_post_content-->
                    </div>
                </div><!--/blog_post--><!--blog_post--><!--blog_post_image-->
                <!--/blog_post--><!--blog_post--><!--blog_post_image-->
                <!--/blog_post--><!--blog_post--><!--blog_post_image-->
                <!--/blog_post-->
            </div>
            <div class="u-list-control"></div>
        </div><!--/blog-->
    </div>
</section>



{{>layouts/footer}}
<section class="u-backlink u-clearfix u-grey-80"></section>

</body></html>