<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Picture Perfect, get in touch">
    <meta name="description" content="">
    <title>Bread Aria</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 7.8.23, nicepage.com">
    <meta name="referrer" content="origin">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body data-home-page="Home.html" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-grey-80 u-xl-mode" data-lang="en">
{{>layouts/header}}
<section class="u-clearfix u-section-1" id="introduction">
    <div class="u-clearfix u-sheet u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-sheet-1">
        <h1 class="u-custom-font u-text u-text-default u-text-1">Bread Aria</h1>
        <p class="u-custom-font u-text u-text-2"> 클래식 음악은 어렵고 멀게만 느껴지지만,<br>알고 들으면 누구나 빠질 수밖에 없는 매력이 있습니다.&nbsp;<br>
            <br>‘Bread Aria’는 클래식을&nbsp; 좋아하는 사람들이<br>매주 한 곡씩, 이해하기 쉬운 언어로 해설한 메일 콘텐츠를 발송합니다.&nbsp;<br>
            <br>우리는 클래식을 ‘빵처럼 따뜻하게’ 전달하고 싶습니다.&nbsp;<br>
            <br>음악도 매일 한 조각씩, 정성껏 구워내듯.<br>당신의 일상에 작지만 깊은 감동이 되길 바랍니다.
        </p>
        <img class="u-image u-image-default u-image-1" src="images/sheets.jpg" alt="" data-image-width="1280" data-image-height="852" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
    </div>
</section>
<section class="u-clearfix u-section-2" id="intro_service">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                            <img class="u-expanded-width u-image u-image-default u-image-1" src="images/piano_img.jpg" alt="" data-image-width="1280" data-image-height="854" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                            <p class="u-align-center u-custom-font u-text u-text-1"> 브레드아리아의 토핑<br>
                                <br>쉬운 해설 전문 용어 대신 쉬운 비유와 감정 중심의 설명<br>작곡가의 삶, 작곡 배경 등을 중심으로 공감할 수 있는 이야기 전달<br>읽고 듣는 구성 해설을 읽으며 동시에 들을 수 있도록 음원 연결
                            </p>
                        </div>
                    </div>
                    <div class="u-align-right u-container-align-right u-container-style u-layout-cell u-size-31 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-2">
                            <p class="u-align-center u-custom-font u-text u-text-2"> 매일 구워낸 클래식 해설, 브레드아리아<br>
                                <br>브레드아리아(Bread Aria)는 클래식 음악을 빵처럼 따뜻하고&nbsp;<br>부담 없이&nbsp;즐길 수 있도록, 정성껏 해설한 클래식 이야기<br>&nbsp;한 조각을 매주 메일로 전해드리는 서비스 입니다.<br>
                            </p>
                            <img class="u-expanded-width u-image u-image-default u-image-2" src="images/orchestra_img.jpg" alt="" data-image-width="1280" data-image-height="852" data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="service">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-border-2 u-border-white u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="flipIn" data-animation-duration="3000" data-animation-delay="0" data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-1"><img src="images/bread_icon-whiteline.png" alt=""></span>
                        <h5 class="u-align-center u-custom-font u-text u-text-default u-text-1"> 작곡배경에 따른 빵의 종류</h5>
                    </div>
                </div>
                <div class="u-border-2 u-border-white u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="flipIn" data-animation-duration="3000" data-animation-delay="0" data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-2"><img src="images/oven_icon-whiteline.png" alt=""></span>
                        <h5 class="u-align-center u-custom-font u-text u-text-default u-text-2"> 분위기마다 달라지는 오븐의 온도 조절</h5>
                    </div>
                </div>
                <div class="u-border-2 u-border-white u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="flipIn" data-animation-duration="3000" data-animation-delay="0" data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-3"><img src="images/note_icon-whiteline.png" alt=""></span>
                        <h5 class="u-align-center u-custom-font u-text u-text-default u-text-3"> 완성된 빵과 함께하는 곡의 내용</h5>
                    </div>
                </div>
                <div class="u-border-2 u-border-white u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-4" data-animation-name="flipIn" data-animation-duration="3000" data-animation-delay="0" data-animation-direction="X">
                    <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4"><span class="u-file-icon u-icon u-icon-rectangle u-text-white u-icon-4"><img src="images/tea_icon-whiteline.png" alt=""></span>
                        <h5 class="u-align-center u-custom-font u-text u-text-default u-text-4"> 디저트로 준비된 티</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="skrollable u-clearfix u-image u-parallax u-section-4" id="organ" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-clearfix u-container-align-center u-section-5" id="intro_dev">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/profile_icon-whiteline.png" alt=""></span>
                        <h5 class="u-align-center u-custom-font u-text u-text-1"> 서비스 기획자</h5>
                        <p class="u-align-center u-custom-font u-text u-text-2"> 클래식 음악을 전공하지 않았지만,&nbsp;<br>클래식 음악의 매력을 나누고 싶어 'Bread Aria' 서비스를 기획함
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-6" id="vision_mission">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-align-left u-custom-font u-text u-text-default u-text-1"> "클래식의 감정을 매주 하나의 빵으로 굽다"</h3>
        <p class="u-align-left u-custom-font u-text u-text-2"> 클래식을 듣는 것이 어렵고 멀게 느껴지는 사람들에게,<br>매주 한 조각의 클래식이 익숙하고 따뜻한 감정으로 다가오게 만드는 것.<br>음악은 멀리 있지 않고, 부드럽게 식어가고 있습니다.
        </p>
        <h3 class="u-align-left u-custom-font u-text u-text-3"> "어렵고 딱딱한 클래식을, 감성과 이야기로 매주 구워내는 일"</h3>
        <p class="u-align-left u-custom-font u-text u-text-4"> 악보보단 사람의 마음에 집중한 해설<br>매주 정기적으로 클래식 콘텐츠를 구독자에게 제공<br>시각적으로 아름다운 템플릿 구성<br>듣고 읽는 복합적 경험을 제공<br>일상 속 '감성 루틴'으로 자리잡는 콘텐츠
        </p>
    </div>
</section>
<section class="skrollable u-clearfix u-image u-parallax u-section-7" id="museum" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-clearfix u-section-8" id="about">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="custom-expanded u-accordion u-faq u-accordion-1" role="tablist">
            <div class="u-accordion-item">
                <a class="active u-accordion-link u-button-style u-custom-font u-text-body-alt-color u-accordion-link-1" id="link-" aria-controls="" aria-selected="true" role="tab"><span class="u-accordion-link-text"> 빵의 가격은 얼마인가요?</span><span class="u-accordion-link-icon u-border-2 u-border-white u-file-icon u-icon u-icon-rounded u-radius u-text-white u-icon-1"><img src="images/arrow_whiteline.png" alt=""></span>
                </a>
                <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1" aria-labelledby="link-" aria-expanded="true" role="tabpanel">
                    <div class="u-container-layout u-container-layout-1">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p id="isPasted"><span class="u-custom-font" style="font-family: SCDream3;">"좋은 빵엔 시간과 정성이 담기듯, 좋은 음악도 마찬가지 입니다."</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">당신의 메일함에 구워져 도착하는 클래식 한 조각,</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">한 달 구독료는 커피 한 잔보다 조금 덜한 3,900원입니다.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item u-accordion-item-2">
                <a class="u-accordion-link u-button-style u-custom-font u-text-body-alt-color u-accordion-link-2" id="link-1891" aria-controls="1891" aria-selected="false" role="tab"><span class="u-accordion-link-text"> 빵 속엔 어떤 것들이 포함되나요?</span><span class="u-accordion-link-icon u-border-2 u-border-white u-file-icon u-icon u-icon-rounded u-radius u-text-white u-icon-2"><img src="images/arrow_whiteline.png" alt=""></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="1891" aria-labelledby="link-1891" aria-expanded="true" role="tabpanel">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p id="isPasted"><span class="u-custom-font" style="font-family: SCDream3;">"빵 한 조각엔 이런 것들이 있어요."</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">매주 클래식 한 곡의 배경 이야기</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">감정을 풀어주는 쉬운 해설</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">바로 들을 수 있는 링크</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">구독자만을 위한 비하인드 이야기, 번외곡 등</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-accordion-item u-accordion-item-3">
                <a class="u-accordion-link u-button-style u-custom-font u-text-body-alt-color u-accordion-link-3" id="link-" aria-controls="" aria-selected="false" role="tab"><span class="u-accordion-link-text"> 어떻게 예약하나요?</span><span class="u-accordion-link-icon u-border-2 u-border-white u-file-icon u-icon u-icon-rounded u-radius u-text-white u-icon-3"><img src="images/arrow_whiteline.png" alt=""></span>
                </a>
                <div class="u-accordion-pane u-container-style u-accordion-pane-3" aria-labelledby="link-" aria-expanded="true" role="tabpanel">
                    <div class="u-container-layout u-container-layout-3">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                            <p id="isPasted"><span class="u-custom-font" style="font-family: SCDream3;">"원하실 때, 오븐을 예열해두겠습니다."</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">클래식 한 조각이 매주 메일함으로 도착하는 여정은 간단합니다.</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">아래 링크에서 오븐을 예약해 주세요</span>
                            </p>
                            <p><span class="u-custom-font" style="font-family: SCDream3;">첫 곡은 즉시 구워드립니다!</span>
                                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href=".." data-page-id="5948857" target=""></a>
                            </p>
                            <p style="text-align: center;">
                                <a href=".." data-page-id="5948857"></a><span class="u-custom-font" style="font-family: SCDream3;">
                      <a href="/order" data-page-id="5948857">빵 예약하러 가기</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-container-align-left u-section-9" id="trial">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-custom-font u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0"> 한 입 시작하기<br>
        </h2>
        <div class="u-expanded-width u-form u-form-1">
            <form action="/trial" method="post" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" name="trial_form" style="padding: 0px;" redirect="true">
                <div class="u-form-group u-form-name">
                    <label for="name-9d90" class="u-custom-font u-label u-label-1">Name</label>
                    <input type="text" placeholder="이름을 입력하세요" id="name-9d90" name="name" class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-none u-radius u-input-1" required="">
                </div>
                <div class="u-form-email u-form-group">
                    <label for="email-9d90" class="u-custom-font u-label u-label-2">Email</label>
                    <input type="email" id="email-9d90" name="email" class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-none u-radius u-input-2" required="" placeholder="이메일을 입력하세요">
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a class="u-border-5 u-border-grey-75 u-btn u-btn-submit u-button-style u-custom-font u-none u-text-white u-btn-1">제출하기</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>

                <!--<div class="u-form-send-message">실패</div>
                <div class="u-form-send-success">성공</div>-->


            </form>
        </div>
    </div>
</section>



{{>layouts/footer}}
</body></html>